.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    margin-bottom: 10px;
}

.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.login-inv {
    display: none;
    width: 40px;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    .navbar.open {
        height: auto;
        padding-bottom: 180px;
    }

    .navbar.closed {
        height: 70px;
    }

    .nav-menu.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        transition: all 0.4s ease;
        z-index: 1;
        gap: 20px;
    }

    .nav-menu.open li {
        font-size: 16px;
      }

    .navbar {
        transition: all 0.4s ease;
    }

    .navbar ul {
        display: none;
    }

    .navbar p {
        display: none;
    }

    .navbar button {
        display: none;
    }

    .login-inv {
        display: flex;
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        order: 3;
        padding-left: 10px;
        padding-top: 15px;
        transition: all 0.4s ease;
    }

    .nav-login-cart {
        margin-left: auto;
        gap: 10px;
    }

    .nav-login-cart img {
        margin-right: 0px;
    }

    .nav-cart-count {
        margin-bottom: 5px;
        gap: 0;
        margin-left: -20px;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        transition: all 0.4s ease;
    }

    .nav-menu.open {
        display: flex;
    }

    .navbar.open .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .navbar.open .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar.open .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}