.offers {
    width: 65%;
    height: auto;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 0px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button {
    width: 288px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .offers {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    }

    .offers-left {
        padding-left: 70px;
    }

    .offers-left h1 {
        font-size: 48px;
        font-weight: 600;
    }

    .offers-left p {
        font-size: 22px;
    }

    .offers-left button {
        align-items: center;
        width: 250px;
        height: 50px;
    }

    .offers-right {
        padding: 0;
    }

    .offers-right img{
        width: 90%;
    }
}

@media screen and (min-width: 580px) and (max-width: 767px) {
    .offers {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .offers-left {
        padding-left: 70px;
    }

    .offers-left h1 {
        font-size: 42px;
        font-weight: 600;
    }

    .offers-left p {
        font-size: 20px;
    }

    .offers-left button {
        align-items: center;
        width: 250px;
        height: 42px;
    }

    .offers-right {
        padding: 0;
    }

    .offers-right img{
        width: 90%;
    }
}

@media screen and (min-width: 0px) and (max-width: 579px) {
    .offers {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    .offers-left {
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    .offers-left h1 {
        font-size: 38px;
        font-weight: 600;
    }

    .offers-left p {
        font-size: 22px;
        text-align: center;
    }

    .offers-left button {
        align-items: center;
        width: 250px;
        height: 42px;
    }

    .offers-right {
        padding: 0;
        display: none;
    }
}

